body {font-family: sans-serif; margin: 0;padding: 0;}

a {
    text-decoration: none;
}

form {
    padding: 10px 0 0 0;
}

form input, .form-input {
    width: 99%;
    font-size: 2em;
    color: #777;
}

form label {
    text-align: left;
    margin: 0;
    font-size: 2em;
    color: gray;
    padding: 0;
}

h1 {
    color:darkseagreen;
}

.wrapper {
    width: 98%;
    margin: 0 auto;
    text-align: center;
}

.content {
    background: #ccc;
}


.btn {
    display: block;
    border: none;
    border-top:3px solid gray;
    padding: 15px;
    font-size: 2em;
    color: white;
    cursor:pointer;
}

.btn:hover {
    color:black;
}

.form-group {
    text-align: left;
    margin: 25px;
}

.response {
    padding: 15px;
    background-color: coral;
    color: white;
}

.hide {
    border: none;
    padding: 0;
    max-height: 0;
    transition: max-height .7s ease, padding .7s ease, border .7s ease;
    overflow: hidden;
}

.readonly {
    border: none;
    background: #777;
    color: white;
}

.show {
    transition: max-height .7s ease, padding .7s ease;
    max-height: 10em;
}

.sub-btn {
    background-color: darkseagreen;
    width: 100%;
}

.invalid {
    box-shadow: 0 0 5px 2px #E91E63;
    color: #E91E63;
}

.danger {
    background-color: orangered;
}

.danger:hover{
    color:white;
}

.warning {
    background-color: firebrick;
}

#add-btn{
    background-color: coral;
}

#update-btn {
    background-color: palevioletred;
}

#another-btn {
    background-color: sandybrown;
}

#home-btn {
    background-color: dodgerblue;
}

/**
 * (C)Leanest CSS spinner ever curtesy of Lea Verou
 * lea.verou.me/2013/11/cleanest-css-spinner-ever
 */

@keyframes spin {
	to { transform: rotate(1turn); }
}

.progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
	background: #555;
}

.progress:after {
	transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	transform: rotate(-135deg);
	background: #bbb;
}